---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: {{ include "ack-ec2-controller.app.fullname" . }}-writer
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "ack-ec2-controller.app.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    k8s-app: {{ include "ack-ec2-controller.app.name" . }}
    helm.sh/chart: {{ include "ack-ec2-controller.chart.name-version" . }}
rules:
- apiGroups:
  - ec2.services.k8s.aws
  resources:
  - capacityreservations
  - dhcpoptions
  - elasticipaddresses
  - flowlogs
  - instances
  - internetgateways
  - launchtemplates
  - managedprefixlists
  - natgateways
  - networkacls
  - routetables
  - securitygroups
  - subnets
  - transitgateways
  - transitgatewayvpcattachments
  - vpcs
  - vpcendpoints
  - vpcendpointserviceconfigurations
  - vpcpeeringconnections
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ec2.services.k8s.aws
  resources:
  - capacityreservations
  - dhcpoptions
  - elasticipaddresses
  - flowlogs
  - instances
  - internetgateways
  - launchtemplates
  - managedprefixlists
  - natgateways
  - networkacls
  - routetables
  - securitygroups
  - subnets
  - transitgateways
  - transitgatewayvpcattachments
  - vpcs
  - vpcendpoints
  - vpcendpointserviceconfigurations
  - vpcpeeringconnections
  verbs:
  - get
  - patch
  - update
