---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ack-ec2-controller
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ec2.services.k8s.aws
  resources:
  - capacityreservations
  - dhcpoptions
  - elasticipaddresses
  - flowlogs
  - instances
  - internetgateways
  - launchtemplates
  - managedprefixlists
  - natgateways
  - networkacls
  - routetables
  - securitygroups
  - subnets
  - transitgateways
  - transitgatewayvpcattachments
  - vpcendpoints
  - vpcendpointserviceconfigurations
  - vpcpeeringconnections
  - vpcs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ec2.services.k8s.aws
  resources:
  - capacityreservations/status
  - dhcpoptions/status
  - elasticipaddresses/status
  - flowlogs/status
  - instances/status
  - internetgateways/status
  - launchtemplates/status
  - managedprefixlists/status
  - natgateways/status
  - networkacls/status
  - routetables/status
  - securitygroups/status
  - subnets/status
  - transitgateways/status
  - transitgatewayvpcattachments/status
  - vpcendpoints/status
  - vpcendpointserviceconfigurations/status
  - vpcpeeringconnections/status
  - vpcs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - services.k8s.aws
  resources:
  - fieldexports
  - iamroleselectors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - services.k8s.aws
  resources:
  - fieldexports/status
  - iamroleselectors/status
  verbs:
  - get
  - patch
  - update
