---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: vpcpeeringconnections.ec2.services.k8s.aws
spec:
  group: ec2.services.k8s.aws
  names:
    kind: VPCPeeringConnection
    listKind: VPCPeeringConnectionList
    plural: vpcpeeringconnections
    singular: vpcpeeringconnection
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VPCPeeringConnection is the Schema for the VPCPeeringConnections
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: "VpcPeeringConnectionSpec defines the desired state of VpcPeeringConnection.
              \n Describes a VPC peering connection."
            properties:
              dryRun:
                description: Checks whether you have the required permissions for
                  the action, without actually making the request, and provides an
                  error response. If you have the required permissions, the error
                  response is DryRunOperation. Otherwise, it is UnauthorizedOperation.
                type: boolean
              peerOwnerID:
                description: "The Amazon Web Services account ID of the owner of the
                  accepter VPC. \n Default: Your Amazon Web Services account ID"
                type: string
              peerRegion:
                description: "The Region code for the accepter VPC, if the accepter
                  VPC is located in a Region other than the Region in which you make
                  the request. \n Default: The Region in which you make the request."
                type: string
              peerVPCID:
                description: The ID of the VPC with which you are creating the VPC
                  peering connection. You must specify this parameter in the request.
                type: string
              tagSpecifications:
                description: The tags to assign to the peering connection.
                items:
                  description: "The tags to apply to a resource when the resource
                    is being created. \n The Valid Values lists all the resource types
                    that can be tagged. However, the action you're using might not
                    support tagging all of these resource types. If you try to tag
                    a resource type that is unsupported for the action you're using,
                    you'll get an error."
                  properties:
                    resourceType:
                      type: string
                    tags:
                      items:
                        description: Describes a tag.
                        properties:
                          key:
                            type: string
                          value:
                            type: string
                        type: object
                      type: array
                  type: object
                type: array
              vpcID:
                description: The ID of the requester VPC. You must specify this parameter
                  in the request.
                type: string
            type: object
          status:
            description: VPCPeeringConnectionStatus defines the observed state of
              VPCPeeringConnection
            properties:
              accepterVPCInfo:
                description: Information about the accepter VPC. CIDR block information
                  is only returned when describing an active VPC peering connection.
                properties:
                  cidrBlock:
                    type: string
                  cidrBlockSet:
                    items:
                      description: Describes an IPv4 CIDR block.
                      properties:
                        cidrBlock:
                          type: string
                      type: object
                    type: array
                  ipv6CIDRBlockSet:
                    items:
                      description: Describes an IPv6 CIDR block.
                      properties:
                        ipv6CIDRBlock:
                          type: string
                      type: object
                    type: array
                  ownerID:
                    type: string
                  peeringOptions:
                    description: "We are retiring EC2-Classic on August 15, 2022.
                      We recommend that you migrate from EC2-Classic to a VPC. For
                      more information, see Migrate from EC2-Classic to a VPC (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-migrate.html)
                      in the Amazon Elastic Compute Cloud User Guide. \n Describes
                      the VPC peering connection options."
                    properties:
                      allowDNSResolutionFromRemoteVPC:
                        type: boolean
                      allowEgressFromLocalClassicLinkToRemoteVPC:
                        type: boolean
                      allowEgressFromLocalVPCToRemoteClassicLink:
                        type: boolean
                    type: object
                  region:
                    type: string
                  vpcID:
                    type: string
                type: object
              ackResourceMetadata:
                description: All CRs managed by ACK have a common `Status.ACKResourceMetadata`
                  member that is used to contain resource sync state, account ownership,
                  constructed ARN for the resource
                properties:
                  arn:
                    description: 'ARN is the Amazon Resource Name for the resource.
                      This is a globally-unique identifier and is set only by the
                      ACK service controller once the controller has orchestrated
                      the creation of the resource OR when it has verified that an
                      "adopted" resource (a resource where the ARN annotation was
                      set by the Kubernetes user on the CR) exists and matches the
                      supplied CR''s Spec field values. TODO(vijat@): Find a better
                      strategy for resources that do not have ARN in CreateOutputResponse
                      https://github.com/aws/aws-controllers-k8s/issues/270'
                    type: string
                  ownerAccountID:
                    description: OwnerAccountID is the AWS Account ID of the account
                      that owns the backend AWS service API resource.
                    type: string
                  region:
                    description: Region is the AWS region in which the resource exists
                      or will exist.
                    type: string
                required:
                - ownerAccountID
                - region
                type: object
              conditions:
                description: All CRS managed by ACK have a common `Status.Conditions`
                  member that contains a collection of `ackv1alpha1.Condition` objects
                  that describe the various terminal states of the CR and its backend
                  AWS service API resource
                items:
                  description: Condition is the common struct used by all CRDs managed
                    by ACK service controllers to indicate terminal states  of the
                    CR and its backend AWS service API resource
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the Condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              expirationTime:
                description: The time that an unaccepted VPC peering connection will
                  expire.
                format: date-time
                type: string
              requesterVPCInfo:
                description: Information about the requester VPC. CIDR block information
                  is only returned when describing an active VPC peering connection.
                properties:
                  cidrBlock:
                    type: string
                  cidrBlockSet:
                    items:
                      description: Describes an IPv4 CIDR block.
                      properties:
                        cidrBlock:
                          type: string
                      type: object
                    type: array
                  ipv6CIDRBlockSet:
                    items:
                      description: Describes an IPv6 CIDR block.
                      properties:
                        ipv6CIDRBlock:
                          type: string
                      type: object
                    type: array
                  ownerID:
                    type: string
                  peeringOptions:
                    description: "We are retiring EC2-Classic on August 15, 2022.
                      We recommend that you migrate from EC2-Classic to a VPC. For
                      more information, see Migrate from EC2-Classic to a VPC (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-migrate.html)
                      in the Amazon Elastic Compute Cloud User Guide. \n Describes
                      the VPC peering connection options."
                    properties:
                      allowDNSResolutionFromRemoteVPC:
                        type: boolean
                      allowEgressFromLocalClassicLinkToRemoteVPC:
                        type: boolean
                      allowEgressFromLocalVPCToRemoteClassicLink:
                        type: boolean
                    type: object
                  region:
                    type: string
                  vpcID:
                    type: string
                type: object
              status:
                description: The status of the VPC peering connection.
                properties:
                  code:
                    type: string
                  message:
                    type: string
                type: object
              tags:
                description: Any tags assigned to the resource.
                items:
                  description: Describes a tag.
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  type: object
                type: array
              vpcPeeringConnectionID:
                description: The ID of the VPC peering connection.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
